In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir('.'))

# Any results you write to the current directory are saved as output.

['.git', '.ipynb_checkpoints', 'HappinessData.csv', 'HappinessData.ipynb', 'HappinessData.xls', 'README.md']

<h1> EDA for the Happiness data </h1>

This is also an attempt to see if this website (Kaggle) is a good place to collaborate within a small team on a dataset

<h2> Checking the import of the data </h2>

This section checks that the data that I uploaded is imported as expected into the dataframe. I am expected that:
- There are ten fields: Area (of London), Happiness score, Year, No Religion (%), No Sport, Childhood Obesity, CPP, Suicide Rates, Road Accidents and Crime Rates;
- There are 33 areas of London;
- The Happiness Scores are...;
- The Years are 2011-2016;
- No Religion is a percentage;
- Childhood obesity is a percentage;
- CPP is...;
- Suicide rate is ...;
- Road Accidents is an integer greater than or equal to zero;
- Crime Rates is a percentage.

In [6]:
#Load data
df_happy = pd.read_csv("../input/HappinessData.csv")

#look at first few rows
df_happy.head()

,Area,Happiness,Year,No Religion (%),No Sport,Childhood Obesity,CPP,Suicide Rates,Road Accidents,Crime Rates
0,City of London,x,2011,-,59.40%,NaN,21,3,NaN,NaN
1,Barking and Dagenham,6.91,2011,19.2,61.10%,26.9,55,10,NaN,100.7
2,Barnet,7.26,2011,20.0,49.20%,19.2,27,22,NaN,73.5
3,Bexley,7.22,2011,25.0,51.00%,22.2,16,16,NaN,52.3
4,Brent,7.07,2011,11.7,61.20%,22.6,37,20,NaN,101.2

In [9]:
#look at any information that needs to be cleaned
df_happy.info()
df_happy.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 10 columns):
Area                 198 non-null object
Happiness            198 non-null object
Year                 198 non-null int64
No Religion (%)      198 non-null object
No Sport             198 non-null object
Childhood Obesity    192 non-null float64
CPP                  198 non-null object
Suicide Rates        198 non-null int64
Road Accidents       66 non-null float64
Crime Rates          192 non-null float64
dtypes: float64(3), int64(2), object(5)
memory usage: 15.5+ KB

Area                  33
Happiness             71
Year                   6
No Religion (%)      150
No Sport             142
Childhood Obesity     99
CPP                   49
Suicide Rates         36
Road Accidents        30
Crime Rates          174
dtype: int64